.friendsPage {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 20px;
}
.bannerF {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.iconF {
    position:absolute;
    width:15%;
    top: 50%;
    left: 3%;
    border: 4px solid #2C3E50;
}
.nameF {
    position: relative;
    top: 23%;
    left: 18.5%;
    width: 15%;
    height: auto;
}
.historyF {
    font-size: 30px;
}
.separatorF {
    border-bottom: 1px solid #46698B;
    margin: 10px 0;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}