

  .InformationButton {
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .InformationButton span {
    font-size: 20px;
    font-weight: bold;
  }

  .frame_center{
    height: 85vh;
  }

  .errorpage_all{
    height: 70vh;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }